[submodule "3rdparty/lest"]
	path = library/3rdparty/lest
	url = https://github.com/martinmoene/lest
[submodule "src/iibmalloc"]
	path = library/src/iibmalloc
	url = https://github.com/node-dot-cpp/iibmalloc
