[submodule "3rdparty/lest"]
	path = 3rdparty/lest
	url = https://github.com/martinmoene/lest
[submodule "src/iibmalloc"]
	path = src/iibmalloc
	url = https://github.com/node-dot-cpp/iibmalloc
[submodule "src/foundation"]
	path = src/foundation
	url = https://github.com/node-dot-cpp/nodecpp-foundation
